#wedding\ events{
    font-family: "DejaVu Sans Mono";
    text-align: center;
}
#graduation{
    font-family: "DejaVu Sans Mono";
    text-align: center;
}
#funeral{
    font-family: "DejaVu Sans Mono";
    text-align: center;
}
#parties{
    font-family: "DejaVu Sans Mono";
    text-align: center;
}